* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: Arial, "맑은 고딕", sans-serif;
}
.topmenu {
    width: 100vw;
    display: flex;
}
.topmenu .logo{
    
}
.happy {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /* background: #ccc; */
}
.happy > div {
  width: 463px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.happy ul {
  width: 100%;
  height: 306px;
  display: flex;
  /* border: 1px solid #000; */
  overflow: hidden;
}
.happy ul li {
  position: relative;
  flex: 1 1 30%;
  transition: flex-basis 0.8s;
  cursor: pointer;
}
.happy ul li.first {
  background: url(/images/happybath/images/sample01.jpg);
}
.happy ul li.second {
  background: url(/images/happybath/images/sample02.jpg);
}
.happy ul li.third {
  background: url(/images/happybath/images/sample03.jpg);
}
.left .title {
  text-align: center;
  line-height: 306px;
  font-size: 20px;
  color: #fff;
}
.left .box {
  position: absolute;
  width: 300px;
  left: 0;
  top: 0;
  color: #fff;
  opacity: 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 120px;
}
.left .box p:nth-child(2) {
    display: inline-block;
    margin-top: 10px;
  width: 50px;
  padding: 5px 15px;
  border: 1px solid #fff;
}
.left .box p:nth-child(2):hover {
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0);
}
.left ul:hover .title {
  display: none;
}
.left ul li:hover .box {
  opacity: 1;
}
.left ul:hover li:hover {
  flex-basis: 60%;
}
.left ul:hover li:not(:hover) {
  flex-basis: 20%;
}
.left ul:hover {
    border: 1px solid #333;
}
.left ul {
    border: 1px solid transparent;
}
.right div{
    width: 463px;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/images/happybath/images/beautytalk.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
    border: 1px solid transparent;
}
.right div p{
    font-size: 20px;
}
.right div a{
    border: 1px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 5px 20px;
    margin-top: 10px;
}
.right div p, .right div a{
    color: #fff;
}
.right div a:hover {
    background-size: 120%;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
}